html, body {
  background-color: #F1F0D0;
  overflow-x: hidden;
  font-family: 'Alegreya Sans SC', sans-serif;
}

a {
  text-decoration: none;
  color: #4E9E81;
}

a:hover {
  text-decoration: none;
  color: #03AD7C;
}

.intro {
  background: url("../img/intro-background_xs.png") no-repeat top;
  height: 600px;
  position: relative;
}

@media (min-width: 576px) {
  .intro {
    background: url("../img/intro-background_sm.png") no-repeat top;
  }
}

@media (min-width: 768px) {
  .intro {
    background: url("../img/intro-background_md.png") no-repeat top;
  }
}

@media (min-width: 992px) {
  .intro {
    background: url("../img/intro-background.png") no-repeat top;
  }
}

@media (min-width: 1200px) {
  .intro {
    height: 900px;
  }
}

.intro__container {
  text-align: center;
}

.intro__container__logo {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 300px;
}

@media (min-width: 576px) {
  .intro__container__logo {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .intro__container__logo {
    margin-top: 30%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .intro__container__logo {
    margin-top: 30%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 800px;
  }
}

.intro__container__buttons {
  color: #4E9E81;
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  .intro__container__buttons {
    margin-top: 0;
  }
}

.intro__container__buttons__about {
  width: 100%;
  font-size: 1.5rem;
  padding: 0rem 0.8rem 0.2rem 0.8rem;
  display: block;
  border: solid #4E9E81 2px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-right: 1rem;
}

.intro__container__buttons__about:hover {
  border-color: #03AD7C;
}

@media (min-width: 768px) {
  .intro__container__buttons__about {
    font-size: 1.5rem;
    padding: 0rem 0.8rem 0.2rem 0.8rem;
    display: inline;
    border: solid #4E9E81;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .intro__container__buttons__about {
    font-size: 1.5rem;
    padding: 0rem 0.8rem 0.2rem 0.8rem;
    display: inline;
    border: solid #4E9E81;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 1rem;
  }
}

.intro__container__buttons__contact {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 0rem 0.8rem 0.2rem 0.8rem;
  display: block;
  border: solid #4E9E81 2px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.intro__container__buttons__contact:hover {
  border-color: #03AD7C;
}

@media (min-width: 768px) {
  .intro__container__buttons__contact {
    font-size: 1.5rem;
    padding: 0rem 0.8rem 0.2rem 0.8rem;
    display: inline;
    border: solid #4E9E81;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

@media (min-width: 1200px) {
  .intro__container__buttons__contact {
    font-size: 1.5rem;
    padding: 0rem 0.8rem 0.2rem 0.8rem;
    display: inline;
    border: solid #4E9E81;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.logo {
  position: relative;
  background: #4E9E81 no-repeat right;
}

.logo:before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  position: absolute;
  display: block;
  border-right: 2000px solid transparent;
  border-top: 5.5vw solid #F1F0D0;
  overflow: hidden;
  top: 0;
}

.logo:after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  position: absolute;
  display: block;
  border-right: 2000px solid transparent;
  border-bottom: 5.5vw solid #F1F0D0;
  overflow: hidden;
  bottom: 0;
}

.logo__container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.logo__container__text {
  color: #F1F0D0;
  font-size: 1.5rem;
}

.logo__container__exemple {
  display: block;
  margin-left: -50px;
  width: 500px;
}

@media (min-width: 576px) {
  .logo {
    background-image: url("../img/photo017.jpg");
    background-size: 1200px;
    background-position: center;
  }
}

@media (min-width: 768px) {
  .logo {
    background-size: 1000px;
  }
}

@media (min-width: 992px) {
  .logo {
    background-position: right;
    background-size: 900px;
  }
}

.flyer {
  position: relative;
  margin-bottom: 5rem;
}

.flyer__container__text {
  padding-top: 10rem;
  color: #4E9E81;
  font-size: 1.5rem;
}

.flyer__container__exemple {
  display: block;
  margin: auto;
  width: 300px;
}

@media (min-width: 576px) {
  .flyer__container__exemple {
    width: 500px;
  }
}

.affiche {
  background-color: #F09C7B;
  position: relative;
}

.affiche:before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  position: absolute;
  display: block;
  border-left: 2000px solid transparent;
  border-bottom: 5.5vw solid #F09C7B;
  overflow: hidden;
  top: -5.48vw;
}

.affiche__container {
  padding-top: 0rem;
  padding-bottom: 5rem;
}

.affiche__container__text {
  padding-top: 7rem;
  color: #F1F0D0;
  font-size: 1.5rem;
}

.affiche__container__exemple {
  display: block;
  margin: auto;
  width: 300px;
  border-radius: 15px;
}

@media (min-width: 576px) {
  .affiche__container__exemple {
    width: 400px;
  }
}

.gallery {
  position: relative;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.gallery__container__main_pic {
  height: 400px;
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 576px) {
  .gallery__container__main_pic {
    height: 160px;
  }
}

@media (min-width: 768px) {
  .gallery__container__main_pic {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .gallery__container__main_pic {
    height: 240px;
  }
}

@media (min-width: 1200px) {
  .gallery__container__main_pic {
    height: 442px;
  }
}

.gallery__container__secondary_pic {
  height: 200px;
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 576px) {
  .gallery__container__secondary_pic {
    height: 80px;
  }
}

@media (min-width: 768px) {
  .gallery__container__secondary_pic {
    height: 90px;
  }
}

@media (min-width: 992px) {
  .gallery__container__secondary_pic {
    height: 120px;
  }
}

@media (min-width: 1200px) {
  .gallery__container__secondary_pic {
    height: 221px;
  }
}

.contact {
  background-color: #4E9E81;
  padding-top: 5vw;
  padding-bottom: 5vw;
  color: #F1F0D0;
}

@media (min-width: 992px) {
  .contact {
    font-size: 1.5rem;
  }
}

.contact input {
  background-color: #F1F0D0;
  width: 100%;
  border-radius: 100px;
  background-color: #F1F0D0;
  border: solid #F1F0D0;
}

.contact textarea {
  height: 100px;
  width: 100%;
  border-radius: 15px;
  border: solid #F1F0D0;
  background-color: #F1F0D0;
}

.contact .wpcf7-submit {
  width: 150px;
  color: #4E9E81;
}

.more {
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 100;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  right: 50%;
  top: -40%;
  width: 90%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  visibility: hidden;
  border-radius: 1rem;
}

@media (min-width: 576px) {
  .more {
    height: 80%;
    top: -25%;
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .more {
    font-size: 1.8rem;
  }
}

.more--is-visible {
  visibility: visible;
}

.more__close-button {
  font-size: 3rem;
  text-align: right;
  -webkit-transform: scale(1, 0.7);
          transform: scale(1, 0.7);
  color: grey;
  font-family: sans-serif;
}

.gallery-modal {
  z-index: 99;
  height: 90%;
  width: 90%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  right: 50%;
  top: -40%;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

.gallery-modal--is-visible {
  visibility: visible;
}

.gallery-modal__close-button {
  font-size: 3rem;
  text-align: right;
  -webkit-transform: scale(1, 0.7);
          transform: scale(1, 0.7);
  color: grey;
  font-family: sans-serif;
}

.gallery-modal__image {
  width: 100%;
  height: 80%;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
}

/*# sourceMappingURL=main.css.map */
