.affiche {
    background-color: $orange;
    position: relative;
    
    &:before {
        content: "";
        box-sizing: border-box;
        height: 0;
        position: absolute;
        display: block;
        border-left:  2000px solid transparent;
        border-bottom: 5.5vw solid $orange;
        overflow: hidden;
        top: -5.48vw;

    }

    &__container {
        padding-top: 0rem;
        padding-bottom: 5rem;
        &__text {
            padding-top: 7rem;
            color: $white;
            font-size: 1.5rem;
        }

        &__exemple {
            display: block;
            margin: auto;
            width: 300px;
            border-radius: 15px;
            @media (min-width: 576px) {
                //tablets
                width: 400px;
            }

            @media (min-width: 768px) {
                //large tablets
            }

            @media (min-width: 992px) {
                //old screens
            }

            @media (min-width: 1200px) {
                //screens
            }
        }

    }
}