.contact {
    background-color: $main-green;
    padding-top: 5vw;
    padding-bottom: 5vw;
    color: $white;
    @media (min-width: 576px) {
        //tablets
    }

    @media (min-width: 768px) {
        //large tablets
    }

    @media (min-width: 992px) {
        //old screens
        font-size: 1.5rem;
    }

    @media (min-width: 1200px) {
        //screens
    }

    input {
        background-color: $white;
        width: 100%;
        border-radius: 100px;
        background-color: $white;
        border: solid $white;
    }

    textarea {
        height: 100px;
        width: 100%;
        border-radius: 15px;
        border: solid $white;
        background-color: $white;
    }
    .wpcf7-submit {
        width: 150px;
        color: $main-green;
    }
}