.flyer {
    position: relative;
    margin-bottom: 5rem;

    &__container {
        &__text {
            padding-top: 10rem;
            color: $main-green;
            font-size: 1.5rem;
        }

        &__exemple {
            display: block;
            margin: auto;
            width: 300px;
            @media (min-width: 576px) {
                //tablets
                width: 500px;
            }

            @media (min-width: 768px) {
                //large tablets
            }

            @media (min-width: 992px) {
                //old screens
            }

            @media (min-width: 1200px) {
                //screens
            }
        }
    }
}