.gallery {
    position: relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    &__container {
        &__main_pic {
            height: 400px;
            width: 100%;
            height: 120px;
            object-fit: cover;
            @media (min-width: 576px) {
                //tablets
                height: 160px;
            }

            @media (min-width: 768px) {
                //large tablets
                height: 180px;
            }

            @media (min-width: 992px) {
                //old screens
                height: 240px;
            }

            @media (min-width: 1200px) {
                //screens
                height: 442px;
            }
        }

        &__secondary_pic {
            height: 200px;
            width: 100%;
            height: 60px;
            object-fit: cover;
            @media (min-width: 576px) {
                //tablets
                height: 80px;
            }

            @media (min-width: 768px) {
                //large tablets
                height: 90px;
            }

            @media (min-width: 992px) {
                //old screens
                height: 120px;
            }

            @media (min-width: 1200px) {
                //screens
                height: 221px;
            }
        }

    }
}