.gallery-modal{
    z-index: 99;
    height: 90%;
    width: 90%;
    transform: translate(50%, 50%);
    right: 50%;
    top: -40%;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);

    &--is-visible{
        visibility: visible;
    }

    &__close-button {
        font-size: 3rem;
        text-align: right;
        transform: scale(1,0.7);
        color: grey;
        font-family: sans-serif;
    }

    &__image{
        width: 100%;
        height: 80%;
        text-align: center;
        object-fit: contain;
    }
}