html, body {
    background-color: $white;
    overflow-x: hidden;
    font-family: 'Alegreya Sans SC', sans-serif;
}

a {
    text-decoration: none;
    color: $main-green;
    &:hover {
        text-decoration: none;
        color: $secondary-green;
    }
}