.intro {
    background: url('../img/intro-background_xs.png') no-repeat top;
    height: 600px;
    position: relative;

    @media (min-width: 576px) {
        //tablets
        background: url('../img/intro-background_sm.png') no-repeat top;
    }

    @media (min-width: 768px) {
        //large tablets
        background: url('../img/intro-background_md.png') no-repeat top;
    }

    @media (min-width: 992px) {
        //old screens
        background: url('../img/intro-background.png') no-repeat top;
    }

    @media (min-width: 1200px) {
        //screens
        height: 900px;
    }

    &__container {
        text-align: center;

        &__logo {
            margin-top: 50%;
            transform: translateY(-50%);
            width: 300px;

            @media (min-width: 576px) {
                //tablets
                width: 500px;
            }

            @media (min-width: 768px) {
                //large tablets
                margin-top: 30%;
                transform: translateY(-50%);
                width: 500px;
            }

            @media (min-width: 992px) {
                //old screens
            }

            @media (min-width: 1200px) {
                //screens
                margin-top: 30%;
                transform: translateY(-50%);
                width: 800px;
            }
        }

        &__buttons {
            color: $main-green;
            margin-top: 2rem;

            @media (min-width: 576px) {
                //tablets
            }

            @media (min-width: 768px) {
                //large tablets
            }

            @media (min-width: 992px) {
                //old screens
            }

            @media (min-width: 1200px) {
                //screens
                margin-top: 0;
            }

            &__about {
                width: 100%;
                font-size: 1.5rem;
                padding: 0rem 0.8rem 0.2rem 0.8rem;
                display: block;
                border: solid $main-green 2px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                margin-right: 1rem;
                &:hover {
                    border-color: $secondary-green;
                }

                @media (min-width: 576px) {
                    //tablets
                }

                @media (min-width: 768px) {
                    //large tablets
                    font-size: 1.5rem;
                    padding: 0rem 0.8rem 0.2rem 0.8rem;
                    display: inline;
                    border: solid $main-green;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    margin-right: 1rem;
                }

                @media (min-width: 992px) {
                    //old screens
                }

                @media (min-width: 1200px) {
                    //screens
                    font-size: 1.5rem;
                    padding: 0rem 0.8rem 0.2rem 0.8rem;
                    display: inline;
                    border: solid $main-green;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    margin-right: 1rem;
                }
            }

            &__contact {
                margin-top: 1rem;
                width: 100%;
                font-size: 1.5rem;
                padding: 0rem 0.8rem 0.2rem 0.8rem;
                display: block;
                border: solid $main-green 2px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                &:hover {
                    border-color: $secondary-green;
                }

                @media (min-width: 576px) {
                    //tablets
                }

                @media (min-width: 768px) {
                    //large tablets
                    font-size: 1.5rem;
                    padding: 0rem 0.8rem 0.2rem 0.8rem;
                    display: inline;
                    border: solid $main-green;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                }

                @media (min-width: 992px) {
                    //old screens
                }

                @media (min-width: 1200px) {
                    //screens
                    font-size: 1.5rem;
                    padding: 0rem 0.8rem 0.2rem 0.8rem;
                    display: inline;
                    border: solid $main-green;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;

                }

            }
        }
    }

}