.logo {
    position: relative;

    &:before {
        content: "";
        box-sizing: border-box;
        height: 0;
        position: absolute;
        display: block;
        border-right:  2000px solid transparent;
        border-top: 5.5vw solid $white;
        overflow: hidden;
        top: 0;
    }

    &:after {
        content: "";
        box-sizing: border-box;
        height: 0;
        position: absolute;
        display: block;
        border-right:  2000px solid transparent;
        border-bottom: 5.5vw solid $white;
        overflow: hidden;
        bottom: 0;
    }
    
    
    
    &__container {
        
        
        padding-top: 10rem;
        padding-bottom: 10rem;
        &__text {
            color: $white;
            font-size: 1.5rem;
        }

        &__exemple {
            display: block;
            margin-left: -50px;
            width: 500px;
        }
    }
    
    background: $main-green  no-repeat right;
    //background-size: 900px;
    @media (min-width: 576px) {
        //tablets
        background-image: url("../img/photo017.jpg");
        background-size: 1200px;
        background-position: center;
    }

    @media (min-width: 768px) {
        //large tablets
        background-size: 1000px;
    }

    @media (min-width: 992px) {
        //old screens
        background-position: right;
        background-size: 900px;
    }

    @media (min-width: 1200px) {
        //screens
    }
}