.more {
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 100;
    transform: translate(50%, 50%);
    right: 50%;
    top: -40%;
    width: 90%;
    //height: 80%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    border-radius: 1rem;
    @media (min-width: 576px) {
        //tablets
        height: 80%;
        top: -25%;
        font-size: 1.4rem;
    }

    @media (min-width: 768px) {
        //large tablets
    }

    @media (min-width: 992px) {
        //old screens
        font-size: 1.8rem;
    }

    @media (min-width: 1200px) {
        //screens
    }

    
    &--is-visible{
        visibility: visible;
    }

    &__close-button {
        font-size: 3rem;
        text-align: right;
        transform: scale(1,0.7);
        color: grey;
        font-family: sans-serif;
    }
}